*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Inter;
    background-color: #000000;
}

header{
    font-family: Inter;
    font-weight: bold;
    background-color: #80BFFF;
}

/*Estilo NavBar*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    font-weight: bold;
}
/*Fin NavBar*/

/*Estilo Logo PetGuard*/
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
    height: auto;
    cursor: pointer;
}
/*Fin Logo PetGuard*/

/*Estilo Menu*/
.menu{
    font-family: Inter;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li{
    display: inline-block;
    margin-right: 50px;
    text-align: center;
}
.menu a{
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.menu li:hover a::after{
    content:'';
    display: block;
    width: 100%;
    height: 2px;
    background-color: white; /* Cambia el color según tu preferencia */
    transition: 0.3s ease;
    transform: translateY(5px); /* Ajusta la posición vertical del subrayado */
}
/*Fin Menu*/
/* Estilos para el pie de página */
footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
}
/*Fin Pie de Pagina*/
/*Estilo Boton de Inicio de Sesión*/
.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.loginbutton{
    color: white;
    font-family: Inter;
    font-weight: bold;
    background-color: #F60;
    fill: #F60;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 200px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 25px;
    cursor: pointer;
}
/*Fin Boton de Inicio de Sesión*/

/*Estilos Container Banner 2*/
.container-banner1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
.banner1 img{
    width: 115%;
    height: auto;
}
.texto-banner1{
    position: absolute;
    top: 250px;
    left: 150px;
    color: white;
}
.texto-banner1 h1{
    font-size: 55px;
    margin-bottom: 50px;
    font-weight: bold;
}
.texto-banner1 p{
    font-size: 25px;
    align-items: center;
    text-align: center;
}
/*Fin Container Banner 1*/
.btn-flecha1right {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 550px;
}

.btn-flecha1right img {
    width: 100px;
    height: auto;
}
/*Estilo Flecha Banner 1*/


